!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Crystal
    %link{:href => "/stylesheets/stylesheet.css", :rel => "stylesheet"}
  %body
    .wrapper
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    {% include google_analytics.html %}
