# Environment configuration
/Makefile.local
/Makefile.win.local

# Build artifacts
*.o
*.ll
*.s
*.obj
*.dwo
*.dwarf
*.pdb
*.exe
/.build/
/samples/.build/
/docs/
/man/*.gz

# CI
/coverage/
/tmp/
/.junit/
