Ary Borenszweig <asterite@gmail.com> <aborenszweig@manas.com.ar>
Ary Borenszweig <asterite@gmail.com> <ary@esperanto.org.ar>
Ary Borenszweig <asterite@gmail.com> <asterite@gmail.com>
Brian J. Cardiff <bcardiff@gmail.com> <bcardiff@manas.com.ar>
Brian J. Cardiff <bcardiff@gmail.com> <bcardiff@manas.tech>
George Dietrich <dev@dietrich.pub> <yomoejoe@gmail.com>
George Dietrich <dev@dietrich.pub> <george@dietrich.app>
Gustavo Giráldez <ggiraldez@manas.tech> <ggiraldez@manas.com.ar>
Johannes Müller <straightshoota@gmail.com> <johannes.mueller@smj-fulda.org>
Juan Wajnerman <juan.wajnerman@gmail.com> <jwajnerman@manas.com.ar>
Juan Wajnerman <juan.wajnerman@gmail.com> <waj@manas.com.ar>
Juan Wajnerman <juan.wajnerman@gmail.com> <waj@manas.tech>
Julien Reichardt <git@jrei.ch> <mi@jrei.ch>
Martin Verzilli <mverzilli@manas.tech> <mverzilli@manas.com.ar>
Matías García Isaía <mgarcia@manas.tech> <mgarcia@manas.com.ar>
Matías García Isaía <mgarcia@manas.tech> <mgarcia@manas.tech>
Stephanie Hobbs <steph@rx14.co.uk> <chris@rx14.co.uk>
