\---
layout: default
\---
%section
  %h1 Language Goals
  %ul.goals
    %li Ruby-inspired syntax.
    %li Never have to specify the type of a variable or method argument.
    %li Be able to call C code by writing bindings to it in Crystal.
    %li Have compile-time evaluation and generation of code, to avoid boilerplate code.
    %li Compile to efficient native code.

%section
  %h1 How it looks like
  .code_section
    {% include sample_code.md %}

%section
  %h1 Status
  %p
    %ul.goals
      %li The project is in pre-alpha stage: we are still designing the language.
      %li The compiler is written in Crystal.
      %li
        Includes the <a href="http://www.hpl.hp.com/personal/Hans_Boehm/gc/">Boehm-Demers-Weiser conservative garbage collector</a>, but this will change in the future.

%section
  %h1 Community
  %p
    %br
    Post a question or suggest something in our
    %i.ip.group
    %a{href: "https://groups.google.com/forum/?fromgroups#!forum/crystal-lang", target: "_blank"} Google Group
    or join our IRC channel #crystal-lang at irc.freenode.net

%section
  %h1 Latest entries from our blog
  .blog_roll
    {% for post in site.posts %}
    %article
      .thumbnail
        %p {{ post.thumbnail }}
      %h3
        %a{href: "{{post.url}}"} {{ post.title }}
      %p {{ post.summary }}
    {% endfor %}
