---
layout: default
---
<section>
  <h1>Language Goals</h1>
  <ul class='goals'>
    <li>Ruby-inspired syntax.</li>
    <li>Never have to specify the type of a variable or method argument.</li>
    <li>Be able to call C code by writing bindings to it in Crystal.</li>
    <li>Have compile-time evaluation and generation of code, to avoid boilerplate code.</li>
    <li>Compile to efficient native code.</li>
  </ul>
</section>
<section>
  <h1>How it looks like</h1>
  <div class='code_section'>
    {% include sample_code.md %}
  </div>
  <p>
    <br>
    <br>
    Interested? Read the
    <i class='ip info'></i>
    <a href='https://github.com/manastech/crystal/wiki/Introduction' target='_blank'>Introduction</a>
    or the
    <i class='ip document'></i>
    <a href='https://github.com/manastech/crystal/wiki/Developers' target='_blank'>Docs for developers</a>
  </p>
  <p>
    <br>
    Questions or suggestions? Ask in our
    <i class='ip group'></i>
    <a href='https://groups.google.com/forum/?fromgroups#!forum/crystal-lang' target='_blank'>Google Group</a>
    or join our IRC channel #crystal-lang at irc.freenode.net
  </p>
</section>
<section>
  <h1>Latest entries from our blog</h1>
  <div class='blog_roll'>
    {% for post in site.posts %}
    <article>
      <div class='thumbnail'>
        <p>{{ post.thumbnail }}</p>
      </div>
      <h3>
        <a href='{{post.url}}'>{{ post.title }}</a>
      </h3>
      <p>{{ post.summary }}</p>
    </article>
    {% endfor %}
  </div>
</section>
