\---
layout: default
\---

- sponsors = [nil,
              ["akwiatkowski", "https://github.com/akwiatkowski"],
              ["ayosec"],
              ["Blumenversand", "https://blumenversender.com"],
              ["chendo "],
              ["claptimes5"],
              ["dahofer", "https://github.com/dahofer"],
              ["dark-eye"],
              ["dbackeus", "https://github.com/dbackeus"],
              ["ddfreyne", "https://github.com/ddfreyne"],
              ["Divoolej"],
              ["dpisarewski"],
              ["drippdropp", "https://github.com/drippdropp"],
              ["drosehn", "https://github.com/drosehn"],
              ["ealdent", "https://github.com/ealdent"],
              ["etmnk", "https://github.com/ucmsky"],
              ["fg", "http://www.fatihgursoy.com"],
              ["Frank O'Hara"],
              ["Gebriel Abebe"],
              ["gottlike", "https://github.com/gottlike"],
              ["havenwood", "https://github.com/havenwood"],
              ["iconoclast"],
              ["Jaime Iniesta"],
              ["jeromegn", "https://github.com/jeromegn"],
              ["Martin Luder"],
              ["maxdemarzi", "http://twitter.com/maxdemarzi"],
              ["method3000", "https://github.com/tristil"],
              ["nicck"],
              ["Niklas Karoly"],
              ["nikolay", "https://nikolay.com"],
              ["opes", "https://github.com/opes"],
              ["paulgoetze", "https://github.com/paulgoetze"],
              ["Peter Hollows", "https://github.com/captainpete"],
              ["philipp-spiess"],
              ["pine613", "https://github.com/pine613"],
              ["PragTob", "http://pragtob.wordpress.com"],
              ["premist"],
              ["Qard", "http://stephenbelanger.com"],
              ["qio-io", "https://github.com/raydf"],
              ["Raimondas Valickas"],
              ["Renich", "https://github.com/renich"],
              ["rhelsing", "https://github.com/rhelsing"],
              ["rhs", "https://www.rainforestqa.com/"],
              ["risyasin", "https://github.com/risyasin"],
              ["ROFISH", "http://twitter.com/ROFISH"],
              ["rosylilly", "https://github.com/rosylilly"],
              ["Sadin", "http://sadin.me"],
              ["sdogruyol", "https://github.com/sdogruyol"],
              ["SebastianSzturo", "https://github.com/SebastianSzturo"],
              ["Sergio Gil", "https://github.com/porras"],
              ["Shigenobu Nishikawa"],
              ["suin", "https://github.com/suin"],
              ["theocodes", "https://github.com/theocodes"],
              ["thermes", "https://github.com/thermes"],
              ["Tom de Bruijn", "http://tomdebruijn.com"],
              ["tommasop", "https://github.com/tommasop"],
              ["tpberntsen", "https://github.com/tpberntsen"],
              ["waterlink", "https://github.com/waterlink"],
             ].compact.sort { |x, y| cmp = x.length <=> y.length; cmp == 0 ? x.dup.tap { |z| z[0] = z[0].downcase } <=> y.dup.tap { |z| z[0] = z[0].downcase } : -cmp }

%section
  %h1 Our sponsors

  %p
    These are the companies and individuals contributing a monthly amount to help sustain Crystal's development. See the
    %a{href: "https://salt.bountysource.com/teams/crystal-lang", target: "_blank"} Bountysource campaign
    for more details.

  %p
    %a{href: "https://www.compose.io", target: "_blank"}
      %img{src: "/images/sponsors/compose.png", width: 788, height: 180}

  %br

  %p
    %img{src: "/images/sponsors/ironin.png", width: 80, height: 80}
    %br
    %a{href: "http://iRonin.pl", target: "_blank"} iRonin.pl - Ruby on Rails, Web & Mobile Samurais

  %br
  %br

  %ul.goals
    - sponsors.each do |name, url|
      - if url
        %li
          %a{href: url, target: :_blank}= name
      - else
        %li= name
