\---
layout: default
\---

- sponsors = [nil,
              ["Luis Lavena", "http://blog.mmediasys.com"],
              ["Avi Leavitt"],
              ["Gebriel Abebe"],
              ["Minku Lee"],
              ["Martin Luder"],
              ["Wojciech Olejnik"],
              ["Gebriel Abebe"],
              ["Shigenobu Nishikawa"],
              ["Philipp Spieß"],
              ["Nickolay Abdrafikov"],
              ["Dieter Pisarewski"],
              ["Nickolay Abdrafikov"],
              ["Brandon Zylstra"],
              ["Eran"],
              ["Aleksander Kwiatkowski", "https://github.com/akwiatkowski"],
              ["nikolay", "https://nikolay.com"],
              ["Niklas Karoly"],
              ["Sho Kusano", "http://aduca.org"],
              ["Blumenversand", "https://blumenversender.com"],
              ["Jason Adams", "http://mendicantbug.com"],
              ["Tommaso Patrizi", "http://www.thinkingco.de"],
              ["Sadin", "http://sadin.me"],
              ["HORINOUCHI Masato", "https://github.com/thermes"],
              ["Ryan Helsing", "http://rhelsing.com"],
              ["method3000", "https://github.com/tristil"],
              ["Raimondas Valickas"],
              ["suin", "https://github.com/suin"],
              ["dbackeus", "https://github.com/dbackeus"],
              ["drippdropp", "https://github.com/drippdropp"],
              ["dahofer", "https://github.com/dahofer"],
              ["theocodes", "https://github.com/theocodes"],
              ["pine613", "https://github.com/pine613"],
              ["opes", "https://github.com/opes"],
              ["ayosec"],
              ["ddfreyne", "https://github.com/ddfreyne"],
              ["ROFISH", "http://twitter.com/ROFISH"],
              ["SebastianSzturo", "https://github.com/SebastianSzturo"],
              ["chendo "],
              ["etmnk", "https://github.com/ucmsky"],
              ["Peter Hollows", "https://github.com/captainpete"],
              ["paulgoetze", "https://github.com/paulgoetze"],
              ["havenwood", "https://github.com/havenwood"],
              ["gottlike", "https://github.com/gottlike"],
              ["drosehn", "https://github.com/drosehn"],
              ["Tom de Bruijn", "http://tomdebruijn.com"],
              ["fg", "http://www.fatihgursoy.com"],
              ["Renich", "https://github.com/renich"],
              ["Frank O'Hara"],
              ["waterlink", "https://github.com/waterlink"],
              ["Qard", "http://stephenbelanger.com"],
              ["qio-io", "https://github.com/raydf"],
              ["jeromegn", "https://github.com/jeromegn"],
              ["Sergio Gil", "https://github.com/porras"],
              ["PragTob", "http://pragtob.wordpress.com"],
              ["maxdemarzi", "http://twitter.com/maxdemarzi"],
              ["Jaime Iniesta"],
              ["sdogruyol", "https://github.com/sdogruyol"],
              ["rhs", "https://www.rainforestqa.com/"],
              ["tpberntsen", "https://github.com/tpberntsen"],
             ].compact.sort { |x, y| cmp = x.length <=> y.length; cmp == 0 ? x.dup.tap { |z| z[0] = z[0].downcase } <=> y.dup.tap { |z| z[0] = z[0].downcase } : -cmp }

%section
  %h1 Our sponsors

  %p
    These are the companies and individuals contributing a monthly amount to help sustain Crystal's development. See the
    %a{href: "https://salt.bountysource.com/teams/crystal-lang", target: "_blank"} Bountysource campaign
    for more details.

  %img{src: "/images/sponsors/ironin.png"}
  %a{href: "http://iRonin.pl", target: "_blank"} iRonin.pl - Ruby on Rails, Web & Mobile Samurais

  %br
  %br

  %ul.goals
    - sponsors.each do |name, url|
      - if url
        %li
          %a{href: url, target: :_blank}= name
      - else
        %li= name
