\---
layout: default
\---

- sponsors = [nil,
              ["Adrien Rambert", "http://adrienrambert.com"],
              ["Aleksander Kwiatkowski", "https://github.com/akwiatkowski"],
              ["Avi Leavitt"],
              ["ayosec"],
              ["Blumenversand", "https://blumenversender.com"],
              ["Brandon Zylstra"],
              ["Carlos Daniel Larico Flores"],
              ["chendo "],
              ["Dan Minkevitch", "https://github.com/opes"],
              ["David Backeus", "https://github.com/dbackeus"],
              ["David Hofer", "http://twitter.com/hofer"],
              ["Dieter Pisarewski"],
              ["Eran"],
              ["fg", "http://www.fatihgursoy.com"],
              ["Frank O'Hara"],
              ["Garance A Drosehn", "https://github.com/drosehn"],
              ["Gebriel Abebe"],
              ["gottlike", "https://github.com/gottlike"],
              ["havenwood", "https://github.com/havenwood"],
              ["Hidehito Nozawa", "http://qiita.com/suin"],
              ["HORINOUCHI Masato", "https://github.com/thermes"],
              ["Isaac Sloan", "https://github.com/isaacsloan"],
              ["Jason Adams", "http://mendicantbug.com"],
              ["Jerome Gravel-Niquet", "http://jgn.me/"],
              ["Joseph Method", "https://github.com/tristil"],
              ["Kyle Ashmore", "https://github.com/vermosi"],
              ["Luc Sarzyniec", "http://www.olbat.net/"],
              ["Martin Luder"],
              ["Masayuki Uchida", "https://github.com/ucmsky"],
              ["maxdemarzi", "http://twitter.com/maxdemarzi"],
              ["Minku Lee"],
              ["Mirek Rusin", "http://quartzcomposer.com"],
              ["Nic Boie", "http://www.webvolta.com"],
              ["Nickolay Abdrafikov"],
              ["nikolay", "https://nikolay.com"],
              ["Oleksii Fedorov", "http://tddfellow.com"],
              ["Paul Friedman", "https://tty.moe"],
              ["Paul Götze", "https://github.com/paulgoetze"],
              ["Peter Hollows", "http://dojo7.com/"],
              ["Philipp Spieß"],
              ["Pine Mizune", "http://profile.pine.moe"],
              ["PragTob", "http://pragtob.wordpress.com"],
              ["Qard", "http://stephenbelanger.com"],
              ["Raimondas Valickas"],
              ["Rayner De Los Santos F.", "https://github.com/raydf"],
              ["Renich Bon Ciric", "http://woralelandia.com/"],
              ["rhs", "https://www.rainforestqa.com/"],
              ["ROFISH", "http://twitter.com/ROFISH"],
              ["Rui Vieira", "http://www.ruivieira.org"],
              ["Ryan Helsing", "http://rhelsing.com"],
              ["Sadin", "http://sadin.me"],
              ["Serdar Dogruyol", "http://www.serdardogruyol.com"],
              ["Sergio Gil Pérez de la Manga", "http://iamserg.io"],
              ["Shigenobu Nishikawa"],
              ["Sho Kusano", "http://aduca.org"],
              ["Sokolov Yura", "https://github.com/funny-falcon"],
              ["Theo Felippe", "https://github.com/theocodes"],
              ["Thomas Peter Berntsen", "https://github.com/tpberntsen"],
              ["Tom de Bruijn", "http://tomdebruijn.com"],
              ["Tommaso Patrizi", "http://www.thinkingco.de"],
              ["Vagmi", "http://coderwall.com/vagmi"],
              ["Vesa Kaihlavirta", "https://github.com/vegai"],
              ["Vijay Dhama", "https://medium.com/@vjdhama"],
              ["yasin inat", "http://www.yasininat.com"],
             ].compact.sort { |x, y| cmp = x.length <=> y.length; cmp == 0 ? x.dup.tap { |z| z[0] = z[0].downcase } <=> y.dup.tap { |z| z[0] = z[0].downcase } : -cmp }

%section
  %h1 Our sponsors

  %p
    These are the companies and individuals contributing a monthly amount to help sustain Crystal's development. See the
    %a{href: "https://salt.bountysource.com/teams/crystal-lang", target: "_blank"} Bountysource campaign
    for more details.

  %p
    %a{href: "https://www.compose.io", target: "_blank"}
      %img{src: "/images/sponsors/compose.png", width: 788, height: 180}

  %br

  %p
    %img{src: "/images/sponsors/ironin.png", width: 80, height: 80}
    %br
    %a{href: "http://iRonin.pl", target: "_blank"} iRonin.pl - Ruby on Rails, Web & Mobile Samurais

  %br
  %br

  %ul.goals
    - sponsors.each do |name, url|
      - if url
        %li
          %a{href: url, target: :_blank}= name
      - else
        %li= name
