defaults:
  environment: &env
    TRAVIS_BRANCH: $CIRCLE_BRANCH
    TRAVIS_PULL_REQUEST: $CI_PULL_REQUEST || "false"
  steps: &ci_steps
    - checkout
    - run: bin/ci prepare_system
    - run: echo 'export CURRENT_TAG="$CIRCLE_TAG"' >> $BASH_ENV
    - run: bin/ci prepare_build
    - run: bin/ci build

version: 2

jobs:
  test_linux:
    machine: true
    environment:
      <<: *env
      TRAVIS_OS_NAME: linux
      ARCH: x86_64
      ARCH_CMD: linux64
    steps:
      - checkout
      - run: bin/ci prepare_system
      - run: echo 'export CURRENT_TAG="$CIRCLE_TAG"' >> $BASH_ENV
      - run: bin/ci prepare_build
      - run: bin/ci build
      - persist_to_workspace:
          root: .
          paths:
            - docs

  test_linux32:
    machine: true
    environment:
      <<: *env
      TRAVIS_OS_NAME: linux
      ARCH: i386
      ARCH_CMD: linux32
    steps: *ci_steps

  test_darwin:
    macos:
      xcode: "9.0"
    environment:
      <<: *env
      TRAVIS_OS_NAME: osx
    steps:
      - run: echo 'export PATH="/usr/local/opt/llvm/bin:$PATH"' >> $BASH_ENV
      - restore_cache:
          keys:
            - brew-cache-v1
      - checkout
      - run: bin/ci prepare_system
      - run: echo 'export CURRENT_TAG="$CIRCLE_TAG"' >> $BASH_ENV
      - run: bin/ci prepare_build
      - run: bin/ci build
      - save_cache:
          key: brew-cache-v1
          paths:
            - /usr/local/Homebrew
            - ~/Library/Caches/Homebrew/downloads

  check_format:
    machine: true
    environment:
      <<: *env
      TRAVIS_OS_NAME: linux
      ARCH: x86_64
      ARCH_CMD: linux64
    steps:
      - checkout
      - run: bin/ci prepare_system
      - run: echo 'export CURRENT_TAG="$CIRCLE_TAG"' >> $BASH_ENV
      - run: bin/ci prepare_build
      - run: bin/ci format

  sync_docs_s3:
    machine: true
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: |
          echo $CIRCLE_SHA1 > /tmp/workspace/docs/revision.txt
      - run: |
          docker run -v /tmp/workspace/docs:/docs \
            -e AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID} \
            -e AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY} \
            mesosphere/aws-cli \
            s3 sync /docs/ s3://crystal-api/api/master --delete

  prepare_common:
    docker:
      - image: docker:stable-git
    steps:
      # checkout specific distribution-scripts version to perform releases and nightly
      - run: |
          git clone https://github.com/crystal-lang/distribution-scripts.git ~/distribution-scripts
          cd ~/distribution-scripts
          git checkout 7d45d71fc8085b9ffc512b18538055a0dcb85851
      # persist relevant information for build process
      - run: |
          cd ~/distribution-scripts
          touch build.env
          echo "export DOCKER_REPOSITORY=crystallang/crystal" >> build.env

          # What to build
          echo "export CRYSTAL_SHA1=$CIRCLE_SHA1" >> build.env

          # Which previous version use
          export PREVIOUS_CRYSTAL_BASE_URL="https://github.com/crystal-lang/crystal/releases/download/0.30.1/crystal-0.30.1-1"
          echo "export PREVIOUS_CRYSTAL_RELEASE_LINUX64_TARGZ=${PREVIOUS_CRYSTAL_BASE_URL}-linux-x86_64.tar.gz" >> build.env
          echo "export PREVIOUS_CRYSTAL_RELEASE_LINUX32_TARGZ=${PREVIOUS_CRYSTAL_BASE_URL}-linux-i686.tar.gz" >> build.env
          echo "export PREVIOUS_CRYSTAL_RELEASE_DARWIN_TARGZ=${PREVIOUS_CRYSTAL_BASE_URL}-darwin-x86_64.tar.gz" >> build.env

          cat build.env
      - persist_to_workspace:
          root: ../
          paths:
            - distribution-scripts

  # prepare build for tagged releases
  prepare_tagged:
    docker:
      - image: docker:stable-git
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: |
          cd /tmp/workspace/distribution-scripts

          # How to brand it
          echo "export CRYSTAL_VERSION=$CIRCLE_TAG" >> build.env
          echo "export DOCKER_TAG=$CIRCLE_TAG" >> build.env

          # Snapcraft configuration
          echo "export SNAP_GRADE=stable" >> build.env
          echo "export SNAP_CHANNEL=edge" >> build.env

          cat build.env
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - distribution-scripts

  # prepare build for nightly releases
  prepare_nightly:
    docker:
      - image: docker:stable-git
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: |
          cd /tmp/workspace/distribution-scripts

          # How to brand it
          export VERSION=nightly-$(date '+%Y%m%d')
          echo "export CRYSTAL_VERSION=$VERSION" >> build.env
          echo "export DOCKER_TAG=nightly" >> build.env

          # Build from working directory (needed for omnibus and when version does not match branch/tag)
          echo "export FORCE_GIT_TAGGED=0" >> build.env

          # Snapcraft configuration
          echo "export SNAP_GRADE=devel" >> build.env
          echo "export SNAP_CHANNEL=edge" >> build.env

          cat build.env
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - distribution-scripts

  # prepare build for manual triggered releases like ci branches, maintenance releases, etc.
  prepare_maintenance:
    docker:
      - image: docker:stable-git
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: |
          cd /tmp/workspace/distribution-scripts

          # How to brand it
          export VERSION=${CIRCLE_BRANCH/release\//}
          export VERSION=${VERSION/\//-}-dev
          echo "export CRYSTAL_VERSION=$VERSION" >> build.env
          echo "export DOCKER_TAG=$VERSION" >> build.env

          # Build from working directory (needed for omnibus and when version does not match branch/tag)
          echo "export FORCE_GIT_TAGGED=0" >> build.env

          # Snapcraft configuration
          echo "export SNAP_GRADE=devel" >> build.env
          echo "export SNAP_CHANNEL=edge/$VERSION" >> build.env

          cat build.env
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - distribution-scripts

  dist_linux:
    machine: true
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          no_output_timeout: 20m
          command: |
            cd /tmp/workspace/distribution-scripts
            source build.env
            cd linux
            make all64 release=true
      - persist_to_workspace:
          root: /tmp/workspace/distribution-scripts/linux/
          paths:
            - build

  dist_linux32:
    machine: true
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          no_output_timeout: 20m
          command: |
            cd /tmp/workspace/distribution-scripts
            source build.env
            cd linux
            make all32 release=true
      - persist_to_workspace:
          root: /tmp/workspace/distribution-scripts/linux/
          paths:
            - build

  dist_darwin:
    macos:
      xcode: "9.0"
    shell: /bin/bash --login -eo pipefail
    steps:
      - restore_cache:
          keys:
            - brew-cache-v1
      - run:
          name: Setup environment
          command: |
            brew install pkgconfig libtool

            sudo mkdir -p /opt/crystal
            sudo chown $(whoami) /opt/crystal/
            sudo mkdir -p /var/cache
            sudo chown $(whoami) /var/cache
      - attach_workspace:
          at: /tmp/workspace
      - run:
          no_output_timeout: 40m
          command: |
            echo "2.4.2" > /tmp/workspace/distribution-scripts/.ruby-version
            cd /tmp/workspace/distribution-scripts
            source build.env
            cd omnibus
            bundle check || bundle install --binstubs
            cd ../darwin
            make
      - persist_to_workspace:
          root: /tmp/workspace/distribution-scripts/darwin/
          paths:
            - build

  dist_docker:
    machine: true
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: |
          cd /tmp/workspace/distribution-scripts
          source build.env
          cd docker
          make CRYSTAL_DEB=/tmp/workspace/build/crystal_${CRYSTAL_VERSION}-1_amd64.deb
      - persist_to_workspace:
          root: /tmp/workspace/distribution-scripts/docker/
          paths:
            - build

  publish_docker:
    machine: true
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: |
          cd /tmp/workspace/distribution-scripts
          source ./build.env
          gunzip -c /tmp/workspace/build/docker-${CRYSTAL_VERSION}.tar.gz | docker image load
          gunzip -c /tmp/workspace/build/docker-${CRYSTAL_VERSION}-build.tar.gz | docker image load
          docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}
          docker push ${DOCKER_REPOSITORY}:${DOCKER_TAG}
          docker push ${DOCKER_REPOSITORY}:${DOCKER_TAG}-build

  dist_snap:
    docker:
      - image: cibuilds/snapcraft:stable
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          command: |
            apt-get install -y make
            cd /tmp/workspace/distribution-scripts
            source build.env
            cd snapcraft
            CRYSTAL_RELEASE_LINUX64_TARGZ=/tmp/workspace/build/crystal-$CRYSTAL_VERSION-1-linux-x86_64.tar.gz make
      - persist_to_workspace:
          root: /tmp/workspace/distribution-scripts/snapcraft/
          paths:
            - build

  publish_snap:
    docker:
      - image: cibuilds/snapcraft:stable
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          command: |
            cd /tmp/workspace/distribution-scripts
            source build.env

            echo $SNAPCRAFT_TOKEN | snapcraft login --with -
            snapcraft push /tmp/workspace/build/*.snap --release=$SNAP_CHANNEL

  dist_docs:
    machine: true
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: |
          cd /tmp/workspace/distribution-scripts
          source build.env
          cd docs
          gunzip -c /tmp/workspace/build/docker-${CRYSTAL_VERSION}-build.tar.gz | docker image load
          make CRYSTAL_DOCKER_IMAGE=${DOCKER_REPOSITORY}:${DOCKER_TAG}-build
      - persist_to_workspace:
          root: /tmp/workspace/distribution-scripts/docs/
          paths:
            - build

  dist_artifacts:
    docker:
      - image: buildpack-deps:xenial
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - store_artifacts:
          path: /tmp/workspace/build
          destination: dist_packages

  test_dist_linux_on_docker:
    machine: true
    environment:
      <<: *env
      TRAVIS_OS_NAME: linux
      ARCH: x86_64
      ARCH_CMD: linux64
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: |
          cd /tmp/workspace/distribution-scripts
          source ./build.env
          gunzip -c /tmp/workspace/build/docker-${CRYSTAL_VERSION}.tar.gz | docker image load
          export DOCKER_TEST_PREFIX="crystallang/crystal:$DOCKER_TAG" >> $BASH_ENV
      - checkout
      - run: bin/ci prepare_system
      - run: echo 'export CURRENT_TAG="$CIRCLE_TAG"' >> $BASH_ENV
      - run: bin/ci prepare_build
      - run: bin/ci build

workflows:
  version: 2
  test_all_platforms:
    jobs:
      - test_linux:
          filters: &unless_maintenance
            branches:
              ignore:
                - /release\/.+/
                - /.*\bci\b.*/
      - test_linux32:
          filters: *unless_maintenance
      - test_darwin:
          filters: *unless_maintenance
      - check_format:
          filters: *unless_maintenance
      - sync_docs_s3:
          filters:
            branches:
              only:
                - master
          requires:
            - test_linux

  tagged_release:
    jobs:
      - test_linux:
          filters: &per_tag
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - test_linux32:
          filters: *per_tag
      - test_darwin:
          filters: *per_tag
      - check_format:
          filters: *per_tag
      - prepare_common:
          filters: *per_tag
          requires:
            - test_linux
            - test_linux32
            - test_darwin
            - check_format
      - prepare_tagged:
          filters: *per_tag
          requires:
            - prepare_common
      - dist_linux:
          filters: *per_tag
          requires:
            - prepare_tagged
      - dist_linux32:
          filters: *per_tag
          requires:
            - prepare_tagged
      - dist_darwin:
          filters: *per_tag
          requires:
            - prepare_tagged
      - dist_docker:
          filters: *per_tag
          requires:
            - dist_linux
      - dist_snap:
          filters: *per_tag
          requires:
            - dist_linux
      - publish_snap:
          filters: *per_tag
          requires:
            - dist_snap
      - test_dist_linux_on_docker:
          filters: *per_tag
          requires:
            - dist_docker
      # Tagged release do not publish docker images since they are unsigned
      # publish_docker:
      - dist_docs:
          filters: *per_tag
          requires:
            - dist_docker
      - dist_artifacts:
          filters: *per_tag
          requires:
            - dist_linux
            - dist_linux32
            - dist_darwin
            - dist_docker
            - dist_snap
            - dist_docs

  nightly_release:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test_linux
      - test_linux32
      - test_darwin
      - check_format
      - prepare_common:
          requires:
            - test_linux
            - test_linux32
            - test_darwin
            - check_format
      - prepare_nightly:
          requires:
            - prepare_common
      - dist_linux:
          requires:
            - prepare_nightly
      - dist_linux32:
          requires:
            - prepare_nightly
      - dist_darwin:
          requires:
            - prepare_nightly
      - dist_docker:
          requires:
            - dist_linux
      - dist_snap:
          requires:
            - dist_linux
      - publish_snap:
          requires:
            - dist_snap
      - test_dist_linux_on_docker:
          requires:
            - dist_docker
      - publish_docker:
          requires:
            - dist_docker
      - dist_docs:
          requires:
            - dist_docker
      - dist_artifacts:
          requires:
            - dist_linux
            - dist_linux32
            - dist_darwin
            - dist_docker
            - dist_snap
            - dist_docs

  maintenance_release:
    jobs:
      - test_linux:
          filters: &maintenance
            branches:
              only:
                - /release\/.+/
                - /.*\bci\b.*/
      - test_linux32:
          filters: *maintenance
      - test_darwin:
          filters: *maintenance
      - check_format:
          filters: *maintenance
      - prepare_common:
          filters: *maintenance
          requires:
            - test_linux
            - test_linux32
            - test_darwin
            - check_format
      - prepare_maintenance:
          filters: *maintenance
          requires:
            - prepare_common
      - dist_linux:
          filters: *maintenance
          requires:
            - prepare_maintenance
      - dist_linux32:
          filters: *maintenance
          requires:
            - prepare_maintenance
      - dist_darwin:
          filters: *maintenance
          requires:
            - prepare_maintenance
      - dist_docker:
          filters: *maintenance
          requires:
            - dist_linux
      - dist_snap:
          filters: *maintenance
          requires:
            - dist_linux
      - publish_snap:
          filters: *maintenance
          requires:
            - dist_snap
      - test_dist_linux_on_docker:
          filters: *maintenance
          requires:
            - dist_docker
      - publish_docker:
          filters: *maintenance
          requires:
            - dist_docker
      - dist_docs:
          filters: *maintenance
          requires:
            - dist_docker
      - dist_artifacts:
          filters: *maintenance
          requires:
            - dist_linux
            - dist_linux32
            - dist_darwin
            - dist_docker
            - dist_snap
            - dist_docs

