<div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="https://github.com/manastech/crystal">View on GitHub</a>

      <h1 id="project_title">Crystal</h1>
      <h2 id="project_tagline">The Crystal Programming Language</h2>

        <section id="downloads">
          <a class="zip_download_link" href="https://github.com/manastech/crystal/zipball/master">Download this project as a .zip file</a>
          <a class="tar_download_link" href="https://github.com/manastech/crystal/tarball/master">Download this project as a tar.gz file</a>
        </section>
    </header>
</div>
