<header>
  <div class='logo'>
    <canvas height='216' id='logo-canvas' style='cursor:move' width='216'></canvas>
    <a href='/'>
      <img height='56' src='/images/crystal_logo.png' width='199'>
    </a>
  </div>
  <div id='logo-text'>The Programming Language</div>
  <nav>
    <ul class='menu'>
      <li>
        <a href='https://github.com/manastech/crystal' target='_blank' title='Git'>
          <i class='ic git'></i>
          <div>GITHUB</div>
        </a>
      </li>
      <li>
        <a href='/docs' target='_blank' title='Docs'>
          <i class='ic bookmark'></i>
          <div>DOCS</div>
        </a>
      </li>
      <li>
        <a href='/api' target='_blank' title='API'>
          <i class='ic download'></i>
          <div>API</div>
        </a>
      </li>
    </ul>
  </nav>
</header>
