<header>
  <a href='/'>
    <img height='58' id='logo-img' src='/images/crystal_logo.png' width='202'>
  </a>
  <div id='logo-text'>The Programming Language</div>
  <nav>
    <ul class='menu'>
      <li>
        <a href='https://github.com/manastech/crystal' title='Git'>
          <i class='ic git'></i>
        </a>
      </li>
      <li class='menu'>
        <a href='https://github.com/manastech/crystal/zipball/master' title='Download'>
          <i class='ic download'></i>
        </a>
        <div class='arrow'>
          <div class='download-options'>
            <div>
              <span>Download</span>
              <a href='https://github.com/manastech/crystal/tarball/master'>tar.gz</a>
            </div>
            <div>
              <span>Download</span>
              <a href='https://github.com/manastech/crystal/zipball/master'>.zip</a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href='/docs.html' title='Documentation'>
          <i class='ic bookmark'></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- %a.ico{:href => "#"} -->
  <!-- %i.ip.downg -->
  <!-- icosahedron.cr -->
</header>
