<div class="container">
<h4>Workbook</h4>

<p>
  This page becomes a workbook like <a href="/about">/about</a> by running
  <code>crystal play</code> in a directory with a <code>workbook.html</code>
  file.
</p>

<p>
  Simply place crystal code blocks in
  <code>&lt;pre class="playground">&lt;/pre></code>
  tags.
</p>
<p>For example:</p>
<p><pre><code>&lt;pre class="playground">
[0x679bff14d, 0x2a4, 0x5cd88d86, 0xbe0ed]
  .map(&.to_s(36)).join(" ")&lt;/pre></pre></code></p>
<p>becomes</p>

<pre class="playground">
[0x679bff14d, 0x2a4, 0x5cd88d86, 0xbe0ed]
  .map(&.to_s(36)).join(" ")</pre>
</p>
