<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/vendor/materialize-v0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="/vendor/codemirror-5.38.0/lib/codemirror.css">
    <link rel="stylesheet" href="/vendor/codemirror-5.38.0/theme/neat.css">
    <link rel="stylesheet" href="/vendor/octicons-19.5.0/octicons.css">
    <link rel="stylesheet" href="/vendor/ansi_up-1.3.0/theme.css">
    <link rel="stylesheet" type="text/css" href="/application.css">
    <% styles.each do |path| %>
      <link rel="stylesheet" type="text/css" href="<%= path %>">
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Crystal Playground</title>
  </head>
  <body class="grey lighten-3 grey-text text-darken-2">
    <header>
      <div class="navbar">
        <nav>
          <div class="nav-wrapper white">
            <div class="col s12">
              <a href="/" class="brand-logo">
                <img src="/icon.svg" />
              </a>
              <ul class="right">
                <li><a href="/">Playground</a></li>
                <li><a href="/workbook">Workbook</a></li>
                <li><a href="/about">About</a></li>
                <li>
                  <a href="/settings">
                    <svg viewBox="0 0 16 16" class="octicon">
                      <use xlink:href="/vendor/octicons-19.5.0/octicons.svg#gear-16"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer>
      <div class="footer-copyright">
        <div class="center-align">Happy Crystalling ♥</div>
        <small class="center-align crystal-version grey-text text-lighten-1"></small>
      </div>
    </footer>

    <script type="text/javascript" src="/vendor/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="/vendor/materialize-v0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" src="/vendor/codemirror-5.38.0/lib/codemirror.js"></script>
    <script type="text/javascript" src="/vendor/codemirror-5.38.0/addon/comment/comment.js"></script>
    <script type="text/javascript" src="/vendor/codemirror-5.38.0/mode/crystal/crystal.js"></script>
    <script type="text/javascript" src="/vendor/ansi_up-1.3.0/ansi_up.js"></script>
    <script type="text/javascript" src="/environment.js"></script>
    <script type="text/javascript" src="/settings.js"></script>
    <script type="text/javascript" src="/session.js"></script>
    <script type="text/javascript" src="/application.js"></script>
    <% scripts.each do |path| %>
      <script type="text/javascript" src="<%= path %>"></script>
    <% end %>
  </body>
</html>
