// MIXINS
// --------------------------------------------------

// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

// Drop shadows
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

// Transitions
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// Transformations
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
     -moz-transform: rotate($degrees);
      -ms-transform: rotate($degrees);
       -o-transform: rotate($degrees);
          transform: rotate($degrees);
}
@mixin scale($ratio) {
  -webkit-transform: scale($ratio);
     -moz-transform: scale($ratio);
      -ms-transform: scale($ratio);
       -o-transform: scale($ratio);
          transform: scale($ratio);
}
@mixin origin($left, $top) {
  -webkit-transform-origin: $left $top;
     -moz-transform-origin: $left $top;
      -ms-transform-origin: $left $top;
       -o-transform-origin: $left $top;
          transform-origin: $left $top;
}
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
     -moz-transform: translate($x, $y);
      -ms-transform: translate($x, $y);
       -o-transform: translate($x, $y);
          transform: translate($x, $y);
}
@mixin skew($x, $y) {
  -webkit-transform: skew($x, $y);
     -moz-transform: skew($x, $y);
      -ms-transform: skew($x, $y);
       -o-transform: skew($x, $y);
          transform: skew($x, $y);
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate($x, $y, $z);
     -moz-transform: translate($x, $y, $z);
      -ms-transform: translate($x, $y, $z);
       -o-transform: translate($x, $y, $z);
          transform: translate($x, $y, $z);
}

// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
      -ms-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}


// Column flow
@mixin col-flow($count, $whidth, $gap) {
  -webkit-column-count:   $count;
  -webkit-column-width:  $whidth;
    -webkit-column-gap:     $gap;
     -moz-column-count:   $count;
     -moz-column-width:  $whidth;
       -moz-column-gap:     $gap;
      -ms-column-count:   $count;
      -ms-column-width:  $whidth;
        -ms-column-gap:     $gap;
          column-count:   $count;
          column-width:  $whidth;
            column-gap:     $gap;
}

// Blur
@mixin blur-me($amount) {
          filter:  blur($amount);
       -o-filter:  blur($amount);
      -ms-filter:  blur($amount);
     -moz-filter:  blur($amount);
  -webkit-filter:  blur($amount);
}


// Gradients
// #gradient {
//   .horizontal($startColor: #555, $endColor: #333) {
//     background-color: $endColor;
//     background-image: -moz-linear-gradient(left, $startColor, $endColor); // FF 3.6+
//     background-image: -ms-linear-gradient(left, $startColor, $endColor); // IE10
//     background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
//     background-image: -webkit-linear-gradient(left, $startColor, $endColor); // Safari 5.1+, Chrome 10+
//     background-image: -o-linear-gradient(left, $startColor, $endColor); // Opera 11.10
//     background-image: linear-gradient(left, $startColor, $endColor); // Le standard
//     background-repeat: repeat-x;
//     filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='" + $startColor + "', endColorstr='" + $endColor + "', GradientType=1)"; // IE9 and down
//   }
//   .vertical($startColor: #555, $endColor: #333) {
//     background-color: mix($startColor, $endColor, 60%);
//     background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
//     background-image: -ms-linear-gradient(top, $startColor, $endColor); // IE10
//     background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
//     background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
//     background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
//     background-image: linear-gradient(top, $startColor, $endColor); // The standard
//     background-repeat: repeat-x;
//     filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='" + $startColor + "', endColorstr='" + $endColor + "', GradientType=0)"; // IE9 and down
//   }
// }

// Webkit-style focus
// ------------------
@mixin tab-focus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Clearfix
// --------
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}
