.code_section .highlight code,
.code_section .highlight pre {color:#F3F3F3;background-color:#231F20}
.code_section .highlight .hll{background-color:#222}
.code_section .highlight .c{color:#7f9f7f}
.code_section .highlight .err{color:#e37170;background-color:#3d3535}
.code_section .highlight .g{color:#7f9f7f}
.code_section .highlight .k{color:#F92772}
.code_section .highlight .l{color:#ccc}
.code_section .highlight .n{color:#F3F3F3}
.code_section .highlight .o{color:#F3F3F3}
.code_section .highlight .x{color:#ccc}
.code_section .highlight .p{color:#F3F3F3}
.code_section .highlight .cm{color:#7f9f7f}
.code_section .highlight .cp{color:#7f9f7f}
.code_section .highlight .c1{color:#8F8E8E}
.code_section .highlight .cs{color:#cd0000;font-weight:bold}
.code_section .highlight .gd{color:#cd0000}
.code_section .highlight .ge{color:#ccc;font-style:italic}
.code_section .highlight .gr{color:red}
.code_section .highlight .gh{color:#dcdccc;font-weight:bold}
.code_section .highlight .gi{color:#00cd00}
.code_section .highlight .go{color:gray}
.code_section .highlight .gp{color:#dcdccc;font-weight:bold}
.code_section .highlight .gs{color:#ccc;font-weight:bold}
.code_section .highlight .gu{color:purple;font-weight:bold}
.code_section .highlight .gt{color:#0040D0}
.code_section .highlight .kc{color:#dca3a3}
.code_section .highlight .kd{color:#ffff86}
.code_section .highlight .kn{color:#dfaf8f;font-weight:bold}
.code_section .highlight .kp{color:#AE81FF}
.code_section .highlight .kr{color:#cdcd00}
.code_section .highlight .kt{color:#00cd00}
.code_section .highlight .ld{color:#cc9393}
.code_section .highlight .m{color:#8cd0d3}
.code_section .highlight .s{color:#cc9393}
.code_section .highlight .na{color:#9ac39f}
.code_section .highlight .nb{color:#5FD6EF}
.code_section .highlight .nc{color:#F3F3F3}
.code_section .highlight .no{color:#65D8EE}
.code_section .highlight .nd{color:#ccc}
.code_section .highlight .ni{color:#c28182}
.code_section .highlight .ne{color:#c3bf9f;font-weight:bold}
.code_section .highlight .nf{color:#A1E22D}
.code_section .highlight .nl{color:#ccc}
.code_section .highlight .nn{color:#8fbede}
.code_section .highlight .nx{color:#ccc}
.code_section .highlight .py{color:#ccc}
.code_section .highlight .nt{color:#9ac39f}
.code_section .highlight .nv{color:#AE81FF}
.code_section .highlight .ow{color:#f0efd0}
.code_section .highlight .w{color:#ccc}
.code_section .highlight .mf{color:#8cd0d3}
.code_section .highlight .mh{color:#8cd0d3}
.code_section .highlight .mi{color:#AE81FF}
.code_section .highlight .mo{color:#8cd0d3}
.code_section .highlight .sb{color:#cc9393}
.code_section .highlight .sc{color:#cc9393}
.code_section .highlight .sd{color:#cc9393}
.code_section .highlight .s2{color:#E2DB74}
.code_section .highlight .se{color:#cc9393}
.code_section .highlight .sh{color:#cc9393}
.code_section .highlight .si{color:#E2DB74}
.code_section .highlight .sx{color:#cc9393}
.code_section .highlight .sr{color:#E2DB74}
.code_section .highlight .s1{color:#E2DB74}
.code_section .highlight .ss{color:#AE81FF}
.code_section .highlight .bp{color:#efef8f}
.code_section .highlight .vc{color:#efef8f}
.code_section .highlight .vg{color:#F3F3F3}
.code_section .highlight .vi{color:#F3F3F3}
.code_section .highlight .il{color:#8cd0d3}
