@import url(pygment_black.css);

@import url(pygment_white.css);

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700,300');
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
img.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  height: 100%;
}
body {
  background: #000000;
  color: #231f20;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0px;
}
div,
p,
a,
ul,
li,
header,
section,
article,
nav,
footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #b5b5b5;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
  margin-top: 30px;
}
h3 {
  font-size: 24px;
  margin-top: 30px;
}
p {
  margin-bottom: 5px;
}
a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #4d4d4d !important;
  text-decoration: none;
}
.wrapper {
  background: #ffffff;
  width: 960px;
  margin: 0 auto;
}
header {
  *zoom: 1;
  padding: 50px 20px 20px;
  border-bottom: 1px solid #e5e5e5;
  height: 250px;
}
header:before,
header:after {
  display: table;
  content: "";
}
header:after {
  clear: both;
}
header img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
header a.ico {
  color: #b5b5b5;
  float: right;
  margin-top: 160px;
  margin-right: -40px;
}
nav {
  float: right;
  margin-top: -161px;
}
nav ul.menu li {
  margin-bottom: 12px;
  position: relative;
}
nav ul.menu li a {
  display: block;
}
nav ul.menu li .arrow {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 46px;
  overflow: hidden;
}
nav ul.menu li .arrow:hover {
  width: 160px;
  left: -160px;
}
nav ul.menu li .download-options {
  background: #e5e5e5;
  width: 140px;
  height: 46px;
  position: relative;
}
nav ul.menu li .download-options div {
  line-height: 14px;
  text-align: center;
  display: inline-block;
  width: 70px
          height: 46px;
  padding: 5px;
}
nav ul.menu li .download-options div span {
  font-size: 10px;
}
nav ul.menu li .download-options div a {
  font-size: 14px;
  font-weight: bold;
}
nav ul.menu li .download-options div:first-child {
  border-right: 1px solid #ffffff;
}
nav ul.menu li .download-options:after {
  content: '';
  display: table;
  width: 0px;
  height: 0px;
  position: absolute;
  right: -19px;
  top: 0px;
  border-style: solid;
  border-width: 23px 0 23px 20px;
  border-color: transparent transparent transparent #e5e5e5;
}
nav ul.menu li.menu:hover i {
  background-position: -40px -40px;
}
nav ul.menu li.menu:hover .arrow {
  width: 160px;
  left: -160px;
}
section {
  padding: 50px 80px 70px;
  border-bottom: 1px solid #e5e5e5;
}
section h1 {
  margin-bottom: 40px;
}
section .meta {
  margin-top: -40px;
  margin-bottom: 40px;
  color: #b5b5b5;
}
.code_section {
  margin-bottom: 50px;
  margin: 0 -80px 4px -90px;
  border-left: 10px solid #b5b5b5;
}
.code_section pre {
  padding: 20px 0 20px 80px;
  margin: 0;
  border: 0;
}
pre {
  padding: 20px;
}
pre.code {
  background-color: #e5e5e5;
}
ul.goals li {
  padding-left: 22px;
  margin-bottom: 6px;
  position: relative;
}
ul.goals li:before {
  content: '';
  display: table;
  background: url("/images/icons_18x18.png") no-repeat 0px 0px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  position: absolute;
  left: 0px;
  top: 4px;
}
.blog_roll {
  *zoom: 1;
}
.blog_roll:before,
.blog_roll:after {
  display: table;
  content: "";
}
.blog_roll:after {
  clear: both;
}
.blog_roll article {
  padding-right: 30px;
  margin-bottom: 30px;
  width: 50%;
  float: left;
}
.blog_roll article .thumbnail {
  background: #b5b5b5;
  text-align: center;
  width: 60px;
  height: 60px;
  margin-right: 16px;
  float: left;
  position: relative;
}
.blog_roll article .thumbnail p {
  font-family: "Consolas", courier, monotype;
  font-size: 35px;
  line-height: 65px;
  color: #ffffff;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}
.blog_roll article .thumbnail:before {
  content: '';
  display: table;
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 60px 60px;
  border-color: transparent transparent #a4a4a4 transparent;
}
.blog_roll article h3 {
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  margin-top: -4px;
}
.blog_roll article p {
  font-size: 13px;
}
footer {
  background: #e5e5e5;
  font-size: 9px;
  padding: 20px 80px;
  text-align: right;
}
footer a {
  color: #999999;
  text-align: left;
  display: inline-block;
  margin-left: 20px;
}
footer img {
  display: block;
}
i.ic {
  background: url("/images/icons_40x40.png") no-repeat 40px 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
i.ic.git {
  background-position: 0px 0px;
}
i.ic.download {
  background-position: -40px 0px;
}
i.ic.bookmark {
  background-position: -80px 0px;
}
i.ic:hover.git,
i.ic:focus.git {
  background-position: 0px -40px;
}
i.ic:hover.download,
i.ic:focus.download {
  background-position: -40px -40px;
}
i.ic:hover.bookmark,
i.ic:focus.bookmark {
  background-position: -80px -40px;
}
i.ip {
  background: url("/images/icons_18x18.png") no-repeat 18px 18px;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-right: -3px;
}
i.ip.ok {
  background-position: 0px 0px;
}
i.ip.document {
  background-position: -18px 0px;
}
i.ip.group {
  background-position: -36px 0px;
}
i.ip.info {
  background-position: -54px 0px;
}
i.ip.down {
  background-position: -72px 0px;
}
i.ip.downg {
  background-position: -90px 0px;
}
#disqus_thread {
  margin-top: 40px;
}
