<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Crystal</h1>
        <p>The Crystal Programming Language</p>
        <p class="view"><a href="https://github.com/manastech/crystal">View the Project on GitHub <small>manastech/crystal</small></a></p>
        <ul>
          <li><a href="https://github.com/manastech/crystal/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/manastech/crystal/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/manastech/crystal">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p>This project is maintained by <a href="http://www.manas.com.ar">Manas</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-42353458-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>