<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Crystal</title>
    <link href='/stylesheets/stylesheet.css' rel='stylesheet'>
    <link href='/feed.xml' rel='alternate' title='Atom 1.0' type='application/atom+xml'>
    <link href='/images/favico.png' rel='icon' type='image/png'>
    <link href='/images/favico.ico' rel='shortcut icon' type='image/x-icon'>
    <script src='/javascripts/viewer.js' type='text/javascript'></script>
  </head>
  <body>
    <div id='fund'>
      <div class='inner'>
        <div class='badge'>
          <a class='text' href='https://www.bountysource.com/teams/crystal-lang/fundraisers/702-crystal-language' target='_blank'>Fund Crystal and help it become production-ready!</a>
          <a class='text' href='/sponsors'>Meet our sponsors</a>
          <a href='https://www.bountysource.com/teams/crystal-lang/fundraisers/702-crystal-language' target='_blank'>
            <img src='https://api.bountysource.com/badge/team?team_id=89730&amp;style=raised'>
          </a>
        </div>
      </div>
    </div>
    <div class='wrapper'>
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
    {% include google_analytics.html %}
    <script src='/javascripts/main.js' type='text/javascript'></script>
  </body>
</html>
