html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.hexagon {
  position: relative;
  width: 36px;
  height: 20.78px;
  background-color: #ffffff;
  margin: 10.39px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 25.46px;
  height: 25.46px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 5.2721px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.hexagon:before {
  top: -12.7279px;
}

.hexagon:after {
  bottom: -12.7279px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:36px;
  height:20.7846px;
  z-index: 2;
  background: inherit;
}

.brand-logo {
  position: relative;
}

.brand-logo img {
  height: 48px;
  z-index: 100;
}

.brand-logo img {
  position: absolute;
  top: 7px;
  left: -55px;
}

.hexagon {
  position: absolute;
  top: 10.5px;
  left: -49px;
  transform: rotate(-14.2deg);
}

#editor, #sidebar, #output, .inspect-values, .CodeMirror {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.46em;
}

#editor, #sidebar {
  min-height: 80vh;
}

@media (max-height: 700px) {
  #editor, #sidebar {
    min-height: 75vh;
  }
}

@media (max-height: 500px) {
  #editor, #sidebar {
    min-height: 70vh;
  }
}

#editor-wrapper, #sidebar-wrapper {
  position: relative;
}

.CodeMirror {
  height: auto;
}

.CodeMirror-lines {
  padding: 0.5em 0;
}

#sidebar-wrapper {
  background: #f7f7f7;
}

#sidebar {
  position: relative;
}

#sidebar div {
  position: absolute;
  white-space: nowrap;
  left: 1ch;
  right: 0;
}

.editor-error-col {
  position: absolute;
  width: 1em;
  height: 1em;
  transform: rotate(45deg);
  transform-origin: 65% -21%;
}

.editor-error-msg {
  margin-top: 0.5em !important;
  overflow: scroll;
}

#run-progress {
  display: none;
}
