body {
  margin: 0;
}

#top {
  position: absolute;
  top: 0;
  height: 100px;
}

#editor, #sidebar {
  border-top: 1px solid #ddd;
  bottom: 150px;
}

#editor, #sidebar, #output {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.46em;
}

#editor {
  position: absolute;
  top: 100px;
  left: 0;
  width: 60vw;
}

.CodeMirror {
  height: 100%;
}

.CodeMirror-lines {
    padding: 0.5em 0;
}

#sidebar {
  position: absolute;
  top: 100px;
  right: 0;
  width: 40vw;
  background: #f7f7f7;
  border-left: 1px solid #ddd;
  overflow: hidden;
}

#output {
  position: absolute;
  margin: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: #f7f7f7;
  border-top: 1px solid #ddd;
  overflow: scroll;
  z-index: 100;
}

#witness {
  width: 1px;
}

#output {
  line-height: normal;
}

#sidebar div {
  position: absolute;
  white-space: nowrap;
  left: 4px;
}
