#footer_wrap.outer
  %footer.inner
    %p.copyright
      Crystal is maintained by
      %a{href: "http://www.manas.com.ar"} Manas
    %p
      Published with
      %a{href: "http://pages.github.com"} GitHub Pages
