%footer
  %a{:href => "http://pages.github.com", :target => "_blank"}
    %span Published with
    %img{:src => '/images/github_pages.png'}
  %a{:href => "http://www.manas.com.ar", :target => "_blank"}
    %span Sponsored by
    %img{:src => '/images/manas.png'}
