%header
  .logo
    %canvas#logo-canvas{width: 108 * 2, height: 108 * 2, style: "cursor:move"}
    %a{:href => "/"}
      %img{:src => "/images/crystal_logo.png", width: 199, height: 56}
  #logo-text The Programming Language
  %nav
    %ul.menu
      %li
        %a{:href => "https://github.com/manastech/crystal", :title => "Git", :target => "_blank"}
          %i.ic.git
          %div GITHUB
      %li
        %a{:href => "/docs", :title => "Docs", :target => "_blank"}
          %i.ic.bookmark
          %div DOCS
      %li
        %a{:href => "/api", :title => "API", :target => "_blank"}
          %i.ic.download
          %div API

