%header
  %a{:href => "/"}
    %img{:src => "/images/crystal_logo.png", width: 265, height: 161}
  %nav
    %ul.menu
      %li
        %a{:href => "https://github.com/manastech/crystal", :title => "Git"}
          %i.ic.git
      %li.menu
        %a{:href => "https://github.com/manastech/crystal/zipball/master", :title => "Download"}
          %i.ic.download
        .arrow
          .download-options
            %div
              %span Download
              %a{:href => "https://github.com/manastech/crystal/tarball/master"} tar.gz
            %div
              %span Download
              %a{:href => "https://github.com/manastech/crystal/zipball/master"} .zip
      / %li
      /   %a{:href => "#", :title => "Bookmark"}
      /     %i.ic.bookmark
  / %a.ico{:href => "#"}
  /   %i.ip.downg
  /   icosahedron.cr
