name: Linux CI

on: [push, pull_request]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

env:
  TRAVIS_OS_NAME: linux
  SPEC_SPLIT_DOTS: 160

jobs:
  # Test against latest release and the earliest supported Crystal version for forward compatibility.
  #
  # A more advanced test which runs against *each* supported version is available in `forward-compatibility.yml` and
  # runs regularly on a nightly schedule.
  x86_64-gnu-test:
    env:
      ARCH: x86_64
      ARCH_CMD: linux64
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        env: [
          {},
          {FLAGS: "-Devloop=libevent"},
          {FLAGS: "-Dpreview_mt -Dexecution_context"},
        ]
        include:
          - env:
              CRYSTAL_BOOTSTRAP_VERSION: 1.0.0
              # libffi is only available starting from the 1.2.2 build images
              FLAGS: "-Dwithout_ffi"
              # pcre2 is only available starting from the 1.8.0 build images
              USE_PCRE1: true
    steps:
      - name: Download Crystal source
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Prepare System
        run: bin/ci prepare_system

      - name: Prepare Build
        run: bin/ci prepare_build

      - name: Test
        run: bin/ci build
        env: ${{ matrix.env }}

  x86_64-musl-test:
    env:
      ARCH: x86_64-musl
      ARCH_CMD: linux64
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        env: [
          {},
          {FLAGS: "-Devloop=libevent"},
          {FLAGS: "-Dpreview_mt -Dexecution_context"},
        ]
    steps:
      - name: Download Crystal source
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Prepare System
        run: bin/ci prepare_system

      - name: Prepare Build
        run: bin/ci prepare_build

      - name: Test
        run: bin/ci build
        env: ${{ matrix.env }}

  check_format:
    env:
      ARCH: x86_64
      ARCH_CMD: linux64
    runs-on: ubuntu-latest
    steps:
      - name: Download Crystal source
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Prepare System
        run: bin/ci prepare_system

      - name: Prepare Build
        run: bin/ci prepare_build

      - name: Check Format
        run: bin/ci format

  lint_spellcheck:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Actions Repository
      uses: actions/checkout@v5
      with:
        persist-credentials: false

    - name: Spell Check Repo
      uses: crate-ci/typos@80c8a4945eec0f6d464eaf9e65ed98ef085283d1 # v1.38.1
      env:
        CLICOLOR: 1

  lint_ameba:
    runs-on: ubuntu-latest
    container: ghcr.io/crystal-ameba/ameba:sha-d861f4ed0f904e0ecdad11c26f98e968f7d95afa # 1.7.0-dev
    steps:
      - name: Download Crystal source
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - run: ameba
