name: Linux CI

on: [push, pull_request]

env:
  TRAVIS_OS_NAME: linux
  SPEC_SPLIT_DOTS: 160

jobs:
  test_linux:
    env:
      ARCH: x86_64
      ARCH_CMD: linux64
      DOCKER_TEST_PREFIX: crystallang/crystal:${{ matrix.crystal_bootstrap_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crystal_bootstrap_version: [1.2.2]
        include:
          # libffi is only available starting from the 1.2.2 build images
          - crystal_bootstrap_version: 1.0.0
            flags: -Dwithout_ffi
          - crystal_bootstrap_version: 1.1.1
            flags: -Dwithout_ffi
    steps:
      - name: Download Crystal source
        uses: actions/checkout@v2

      - name: Prepare System
        run: bin/ci prepare_system

      - name: Prepare Build
        run: bin/ci prepare_build

      - name: Test
        run: FLAGS=${{ matrix.flags }} bin/ci build

  test_alpine:
    env:
      ARCH: x86_64-musl
      ARCH_CMD: linux64
    runs-on: ubuntu-latest
    steps:
      - name: Download Crystal source
        uses: actions/checkout@v2

      - name: Prepare System
        run: bin/ci prepare_system

      - name: Prepare Build
        run: bin/ci prepare_build

      - name: Test
        run: bin/ci build

  test_preview_mt:
    env:
      ARCH: x86_64
      ARCH_CMD: linux64
    runs-on: ubuntu-latest
    steps:
      - name: Download Crystal source
        uses: actions/checkout@v2

      - name: Prepare System
        run: bin/ci prepare_system

      - name: Prepare Build
        run: bin/ci prepare_build

      - name: Make Crystal
        run: bin/ci with_build_env 'make crystal'

      - name: Test
        run: bin/ci with_build_env 'CRYSTAL_WORKERS=4 make std_spec threads=1 FLAGS="-D preview_mt"'

  check_format:
    env:
      ARCH: x86_64
      ARCH_CMD: linux64
    runs-on: ubuntu-latest
    steps:
      - name: Download Crystal source
        uses: actions/checkout@v2

      - name: Prepare System
        run: bin/ci prepare_system

      - name: Prepare Build
        run: bin/ci prepare_build

      - name: Check Format
        run: bin/ci format

  deploy_api_docs:
    if: github.repository_owner == 'crystal-lang' && github.event_name == 'push' && github.ref == 'refs/heads/master'
    env:
      ARCH: x86_64
      ARCH_CMD: linux64
    runs-on: ubuntu-latest
    steps:
      - name: Download Crystal source
        uses: actions/checkout@v2

      - name: Prepare System
        run: bin/ci prepare_system

      - name: Prepare Build
        run: bin/ci prepare_build

      - name: Build docs
        run: bin/ci with_build_env 'make crystal docs threads=1'

      - name: Set revision
        run: echo $GITHUB_SHA > ./docs/revision.txt

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy API docs to S3
        run: |
          aws s3 sync ./docs s3://crystal-api/api/master --delete
