name: macOS CI

on: [push, pull_request]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

env:
  SPEC_SPLIT_DOTS: 160
  CI_NIX_SHELL: true

jobs:
  darwin-test:
    runs-on: ${{ matrix.runs-on }}
    name: ${{ matrix.arch }}
    strategy:
      matrix:
        include:
        - runs-on: macos-13
          arch: x86_64-darwin
        - runs-on: macos-14
          arch: aarch64-darwin
    steps:
      - name: Download Crystal source
        uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            experimental-features = nix-command

      - uses: cachix/cachix-action@v15
        with:
          name: crystal-ci
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

      - name: Prepare System
        run: bin/ci prepare_system

      - name: Prepare Build
        run: bin/ci prepare_build

      - name: Test
        run: bin/ci build

      - name: Test interpreter
        run: bin/ci with_build_env 'make interpreter_spec'
