name: Windows CI

on: [push, pull_request]

jobs:
  linux-job:
    runs-on: ubuntu-latest
    container: crystallang/crystal:1.2.2-build
    steps:
      - name: Download Crystal source
        uses: actions/checkout@v2

      - name: Build C extensions
        run: |
          make deps
      - name: Cross-compile Crystal
        run: |
          LLVM_TARGETS=X86 bin/crystal build --cross-compile --target x86_64-pc-windows-msvc src/compiler/crystal.cr -Dwithout_playground

      - name: Upload Crystal object file
        uses: actions/upload-artifact@v2
        with:
          name: objs
          path: crystal.obj

  windows-job:
    needs: linux-job
    runs-on: windows-latest
    steps:
      - name: Disable CRLF line ending substitution
        run: |
          git config --global core.autocrlf false
      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@ed94116c4d30d2091601b81f339a2eaa1c2ba0a6

      - name: Download Crystal source
        uses: actions/checkout@v2

      - name: Cache libraries
        id: cache-libs
        uses: actions/cache@v2
        with:
          path: | # openssl and llvm take much longer to build so they are cached separately
            libs/pcre.lib
            libs/gc.lib
            libs/z.lib
            libs/mpir.lib
            libs/yaml.lib
            libs/xml2.lib
          key: win-libs-${{ hashFiles('.github/workflows/win.yml') }}
      - name: Download libgc
        if: steps.cache-libs.outputs.cache-hit != 'true'
        uses: actions/checkout@v2
        with:
          repository: ivmai/bdwgc
          ref: v8.2.0
          path: bdwgc
      - name: Download libatomic_ops
        if: steps.cache-libs.outputs.cache-hit != 'true'
        uses: actions/checkout@v2
        with:
          repository: ivmai/libatomic_ops
          ref: v7.6.10
          path: bdwgc/libatomic_ops
      - name: Build libgc
        if: steps.cache-libs.outputs.cache-hit != 'true'
        working-directory: ./bdwgc
        run: |
          cmake . -DBUILD_SHARED_LIBS=OFF -Denable_large_config=ON -DCMAKE_POLICY_DEFAULT_CMP0091=NEW -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded -DCMAKE_FIND_USE_SYSTEM_ENVIRONMENT_PATH=OFF
          cmake --build . --config Release
      - name: Download libpcre
        if: steps.cache-libs.outputs.cache-hit != 'true'
        run: |
          iwr https://cs.stanford.edu/pub/exim/pcre/pcre-8.43.zip -OutFile pcre.zip
          (Get-FileHash -Algorithm SHA256 .\pcre.zip).hash -eq "ae236dc25d7e0e738a94e103218e0085eb02ff9bd98f637b6e061a48decdb433"
          7z x pcre.zip
          mv pcre-* pcre
      - name: Build libpcre
        if: steps.cache-libs.outputs.cache-hit != 'true'
        working-directory: ./pcre
        run: |
          cmake . -DBUILD_SHARED_LIBS=OFF -DPCRE_SUPPORT_UNICODE_PROPERTIES=ON -DPCRE_SUPPORT_JIT=ON -DPCRE_STATIC_RUNTIME=ON -DCMAKE_FIND_USE_SYSTEM_ENVIRONMENT_PATH=OFF
          cmake --build . --config Release
      - name: Download zlib
        if: steps.cache-libs.outputs.cache-hit != 'true'
        run: |
          iwr https://github.com/madler/zlib/archive/v1.2.11.zip -OutFile zlib.zip
          (Get-FileHash -Algorithm SHA256 .\zlib.zip).hash -eq "f5cc4ab910db99b2bdbba39ebbdc225ffc2aa04b4057bc2817f1b94b6978cfc3"
          7z x zlib.zip
          mv zlib-* zlib
      - name: Build zlib
        if: steps.cache-libs.outputs.cache-hit != 'true'
        working-directory: ./zlib
        run: |
          cmake . -DCMAKE_POLICY_DEFAULT_CMP0091=NEW -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded -DCMAKE_FIND_USE_SYSTEM_ENVIRONMENT_PATH=OFF
          cmake --build . --config Release
      - name: Download mpir
        if: steps.cache-libs.outputs.cache-hit != 'true'
        uses: actions/checkout@v2
        with:
          repository: BrianGladman/mpir
          ref: d9c9a842be6475bef74324f367ce2c5a78c55d06  # master @ 2021-10-14
          path: mpir
      - name: Build mpir
        if: steps.cache-libs.outputs.cache-hit != 'true'
        working-directory: ./mpir
        run: |
          $VsVersion = "vs$((& "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -property displayName) -replace '.*\b\d\d(\d\d)\b.*', '$1')"
          MSBuild.exe /p:Platform=x64 /p:Configuration=Release /p:DefineConstants=MSC_BUILD_DLL ".\msvc\$VsVersion\lib_mpir_gc\lib_mpir_gc.vcxproj"
      - name: Download libyaml
        if: steps.cache-libs.outputs.cache-hit != 'true'
        run: |
          iwr https://github.com/yaml/libyaml/archive/0.2.4.zip -OutFile libyaml.zip
          (Get-FileHash -Algorithm SHA256 .\libyaml.zip).hash -eq "5882285b8265096d045ecebbee651b73bef6cead34e439b63e86bf393c936793"
          7z x libyaml.zip
          mv libyaml-* libyaml
      - name: Build libyaml
        if: steps.cache-libs.outputs.cache-hit != 'true'
        working-directory: ./libyaml
        run: |
          cmake . -DCMAKE_POLICY_DEFAULT_CMP0091=NEW -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded -DCMAKE_FIND_USE_SYSTEM_ENVIRONMENT_PATH=OFF
          cmake --build . --config Release
      - name: Download libxml2
        if: steps.cache-libs.outputs.cache-hit != 'true'
        uses: actions/checkout@v2
        with:
          repository: GNOME/libxml2
          ref: a230b728f1289dd24c1666856ac4fb55579c6dfb  # master @ 2020-05-04
          path: libxml2
      - name: Build libxml2
        if: steps.cache-libs.outputs.cache-hit != 'true'
        working-directory: ./libxml2
        run: |
          cmake . -DBUILD_SHARED_LIBS=OFF -DLIBXML2_WITH_HTTP=OFF -DLIBXML2_WITH_FTP=OFF -DLIBXML2_WITH_TESTS=OFF -DCMAKE_POLICY_DEFAULT_CMP0091=NEW -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded -DCMAKE_FIND_USE_SYSTEM_ENVIRONMENT_PATH=OFF
          cmake --build . --config Release
      - name: Gather libraries
        if: steps.cache-libs.outputs.cache-hit != 'true'
        run: |
          mkdir libs
          mv pcre/Release/pcre.lib libs/
          mv bdwgc/Release/gc.lib libs/
          mv zlib/Release/zlibstatic.lib libs/z.lib
          mv mpir/lib/x64/Release/mpir.lib libs/
          mv libyaml/Release/yaml.lib libs/
          mv libxml2/Release/libxml2s.lib libs/xml2.lib

      - name: Cache OpenSSL
        id: cache-openssl
        uses: actions/cache@v2
        with:
          path: |
            libs/crypto.lib
            libs/ssl.lib
          key: win-openssl-libs-3.0.0
      - name: Set up NASM
        if: steps.cache-openssl.outputs.cache-hit != 'true'
        uses: ilammy/setup-nasm@e2335e5fc95548c09cd2deea2768793e0e8f0941 # v1.2.1
      - name: Download OpenSSL
        if: steps.cache-openssl.outputs.cache-hit != 'true'
        run: |
          iwr https://www.openssl.org/source/openssl-3.0.0.tar.gz -OutFile openssl.tar.gz
          (Get-FileHash -Algorithm SHA256 .\openssl.tar.gz).hash -eq "59eedfcb46c25214c9bd37ed6078297b4df01d012267fe9e9eee31f61bc70536"
          7z x openssl.tar.gz
          7z x openssl.tar
          del pax_global_header
          mv openssl-* openssl
      - name: Build OpenSSL
        if: steps.cache-openssl.outputs.cache-hit != 'true'
        working-directory: ./openssl
        run: |
          perl Configure VC-WIN64A /MT -static no-tests --with-zlib-lib=..\zlib\Release --with-zlib-include=..\zlib
          nmake
      - name: Gather OpenSSL
        if: steps.cache-openssl.outputs.cache-hit != 'true'
        run: |
          cp openssl/libcrypto.lib libs/crypto.lib
          cp openssl/libssl.lib libs/ssl.lib
      - name: Set OpenSSL version
        run: |
          echo "CRYSTAL_OPENSSL_VERSION=3.0.0" >> ${env:GITHUB_ENV}

      - name: Cache LLVM
        id: cache-llvm
        uses: actions/cache@v2
        with:
          path: llvm
          key: llvm-libs-10.0.0
      - name: Download LLVM
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        run: |
          iwr https://github.com/llvm/llvm-project/releases/download/llvmorg-10.0.0/llvm-10.0.0.src.tar.xz -OutFile llvm.tar.xz
          (Get-FileHash -Algorithm SHA256 .\llvm.tar.xz).hash -eq "df83a44b3a9a71029049ec101fb0077ecbbdf5fe41e395215025779099a98fdf"
          7z x llvm.tar.xz
          7z x llvm.tar
          mv llvm-* llvm-src
      - name: Patch LLVM for VS 2019 16.7.0
        working-directory: ./llvm-src
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        run: |
          sed -i 's/#ifdef HAVE_STD_IS_TRIVIALLY_COPYABLE/#if 0/' include/llvm/Support/type_traits.h
      - name: Build LLVM
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        working-directory: ./llvm-src
        run: |
          cmake . -Thost=x64 -DLLVM_TARGETS_TO_BUILD="X86" -DLLVM_USE_CRT_RELEASE=MT -DBUILD_SHARED_LIBS=OFF -DCMAKE_FIND_USE_SYSTEM_ENVIRONMENT_PATH=OFF
          cmake --build . --config Release
      - name: Gather LLVM
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        run: |
          mv llvm-src/Release llvm
          mv llvm-src/include llvm/

      - name: Set up environment
        run: |
          echo "CRYSTAL_PATH=lib;$(pwd)\src" >> ${env:GITHUB_ENV}
          echo "CRYSTAL_LIBRARY_PATH=$(pwd)\libs" >> ${env:GITHUB_ENV}
          echo 'CRYSTAL_CONFIG_PATH=$ORIGIN\src' >> ${env:GITHUB_ENV}
          echo 'CRYSTAL_CONFIG_LIBRARY_PATH=$ORIGIN\lib' >> ${env:GITHUB_ENV}
          echo "TERM=dumb" >> ${env:GITHUB_ENV}
          echo "LLVM_CONFIG=$(pwd)\llvm\bin\llvm-config.exe" >> ${env:GITHUB_ENV}
          echo "SOURCE_DATE_EPOCH=$(Get-Date -Millisecond 0 -UFormat %s)" >> ${env:GITHUB_ENV}

      - name: Download Crystal object file
        uses: actions/download-artifact@v2
        with:
          name: objs
      - name: Build LLVM extensions
        run: |
          cl /MT /c src\llvm\ext\llvm_ext.cc -I llvm\include /Fosrc\llvm\ext\llvm_ext.obj
      - name: Link Crystal executable
        run: |
          Invoke-Expression "cl crystal.obj /Fecrystal-cross src\llvm\ext\llvm_ext.obj $(llvm\bin\llvm-config.exe --libs) libs\pcre.lib libs\gc.lib WS2_32.lib advapi32.lib libcmt.lib dbghelp.lib legacy_stdio_definitions.lib /link /LIBPATH:$(pwd)\libs /STACK:10000000"

      - name: Re-build Crystal
        run: |
          .\crystal-cross.exe build src/compiler/crystal.cr -Di_know_what_im_doing -Dwithout_playground --link-flags=/STACK:10000000
          mv crystal.exe bin/

      - name: Gather Crystal binaries
        run: |
          mkdir crystal/src
          mkdir crystal/lib
          cp bin/crystal.exe crystal/
          cp libs/* crystal/lib/
          cp src/* crystal/src -Recurse
          rm crystal/share/crystal/src/llvm/ext/llvm_ext.obj
      - name: Upload Crystal binaries
        uses: actions/upload-artifact@v2
        with:
          name: crystal
          path: crystal

      - name: Build stdlib specs executable
        run: |
          bin\crystal.exe build spec/std_spec.cr --exclude-warnings spec/std --exclude-warnings spec/compiler -Di_know_what_im_doing
      - name: Run socket specs
        run: |
          .\std_spec.exe --verbose -e TCPSocket
      - name: Run stdlib specs
        run: |
          .\std_spec.exe

      - name: Build compiler specs executable
        run: |
          bin\crystal.exe build spec/compiler_spec.cr --exclude-warnings spec/std --exclude-warnings spec/compiler -Dwithout_playground -Di_know_what_im_doing
      - name: Run compiler specs
        run: |
          .\compiler_spec.exe
